@font-face {
    font-family: 'Poppins-Regular';
    src: url(./fonts/Poppins-Regular.otf);
}
h1 {
    margin-left: 161px;
    position: relative;
    align-items: center;
    text-align: left;
    font-size: 30px;
    margin-top: 180px;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Poppins-Regular', sans-serif;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
}
.flex-container > div {
        background-color: #f1f1f1;
        width: 270px;
        height: 350px;
        margin: 20px;
        text-align: center;
        line-height: 15px;
        font-size: 12px;
        flex-wrap: wrap;
        align-content: flex-end;
        border-radius: 8px 8px 8px 8px;
        box-shadow: 0 0px 8px 4 rgba(0,0,0,0.2);
}
.flex-container .title {
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 20px;
    font-weight: bold;

}
.flex-container .text {
    padding: 10px;
    font-family: 'Poppins-Regular', sans-serif;
    font-size: 12px;
}
img {
    border-radius: 8px 8px 8px 8px;
    width: 270px;
    height: 176px;
  }