h1 {
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-top: 180px;
    margin-bottom: 60px;
    color: #000;
    font-family: 'Poppins', sans-serif';

}
.news-card {
    top: 280px;
    margin: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 1 0 5px #ddd;
    position: absolute;
    background: #FFE62D;
    width: 276px;
}
footer {
    background: #FFE62D;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #000;
}