
  .card {
    left: 75px;
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 390px;
    align-items: flex-start;
    gap: 7.12px;
    padding: 14.25px;
    position: absolute;
    top: 199px;
    background-color: #ffe62d;
    border-radius: 15px;
  }
  
  .img {
    width: 287px;
    height: 222px;
    position: relative;
    object-fit: cover;
  }
  
  .frame-wrapper {
    display: flex;
    width: 361.51px;
    height: 88.15px;
    align-items: center;
    gap: 3.56px;
    position: relative;
    margin-right: -74px;
  }
  
  .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.78px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .text-wrapper-2 {
    position: relative;
    width: 361.51px;
    height: 73.9px;
    margin-top: -0.89px;
    font-family: "Work Sans-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 12.5px;
    letter-spacing: 0;
    line-height: 12.5px;
  }
  
  .card-2 {
    left: 431px;
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 390px;
    align-items: flex-start;
    gap: 7.12px;
    padding: 14.25px;
    position: absolute;
    top: 199px;
    background-color: #ffe62d;
    border-radius: 15px;
  }
  
  .card-3 {
    left: 802px;
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 390px;
    align-items: flex-start;
    gap: 7.12px;
    padding: 14.25px;
    position: absolute;
    top: 199px;
    background-color: #ffe62d;
    border-radius: 15px;
  }
  
  .card-4 {
    left: 1173px;
    display: flex;
    flex-direction: column;
    width: 316px;
    height: 390px;
    align-items: flex-start;
    gap: 7.12px;
    padding: 14.25px;
    position: absolute;
    top: 199px;
    background-color: #ffe62d;
    border-radius: 15px;
  }
  