.match-container {
    margin: 70px 10px 70px;
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 10px;
}

.match-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.match-details {
    display: flex;
    flex-wrap: wrap;
}

.match-details > div {
    flex: 1;
    margin-bottom: 10px;
}

.trainer-logo {
    max-width: 100px;
    max-height: 100px;
}