a {
    margin-left: 8px;
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "AirbnbCereal_W_XBd", sans-serif;
    font-weight: 700;
    color: #000000;
    font-size: 22px;
    letter-spacing: 0;
    line-height: 16px;
    white-space: nowrap;
    text-decoration: none; /* Remove default underline for links */
    transition: color 0.3s ease; /* Add smooth transition for color change */
  }
  
  a:hover {
    color: #E92929; /* Color on hover */
  }
  a:after{
    content: "";
    position: absolute;
    background-color: #E92929;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  a:hover:after{
    width: 100%;
  }
h1 {
    position: relative;
    align-items: center;
    text-align: center;
    font-size: 30px;
    margin-top: 150px;
    margin-bottom: 20px;
    color: #000;
    font-family: 'Poppins-Regular', sans-serif;

}
.match-container {
    margin: 70px 10px 70px;
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
}

.match-header {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.match-details {
    display: flex;
    flex-wrap: wrap;
}

.match-details > div {
    flex: 1;
    margin-bottom: 10px;
}

.trainer-logo {
    max-width: 100px;
    max-height: 100px;
}